body{
    background-image: url(walentynkaa.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    
}
h1{
    color: white;
    text-align: center;
    border: 3px dotted ;
}
.tak{
 font-size: xx-large;
    
}
.nie{
    font-size: xx-large;
    
}
.tak:hover{
    color: green;
}
.nie:hover{
    color: red;
}
.dwa{
    text-align: center;
    color: purple;
    border: 3px solid black;
}